<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<form action="{% url 'Account:sign_in' %}" method="get">
    {% csrf_token %}
    <label for="username">Username:</label>
    <br>
    <input type="text" id="username" name="username" value="">
    <br>
    <label for="password">Password:</label>
    <br>
    <input type="password" id="password" name="password" value="">
    <br><br>
    <input type="submit" value="Sign in">
</form>

<form action="{% url 'Account:sign_up_going' %}" method='GET'>
<button type='submit'>Sign up</button>
</form>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

</body>
</html>
