{% extends "base.html" %}
{% load static %}
{% block css %}
    <link href="{% static "static/css/chat.css"%}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="friends">
        <div class="friends_topbar">
            <h1 class="friends_topbar_chat">Chats</h1>
            <button onclick="document.getElementById('modal').style.display='block'" class="friends_topbar_add_new_friend"><span>+ Add New Friend</span></button>
        </div>
        <div class="friends_searchbar">
            <form action="">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="friends_information">
            <div class="friends_drawer">
                <img src="{% static "static/image/profile_photo_1.jpeg"%}" alt="Friend Photo" class="friend_photo">
                <div class="text">
                    <h6>Tim</h6>
                </div>
            </div>
            <div class="friends_drawer">
                <img src="{% static "static/image/profile_photo_2.jpeg"%}" alt="Friend Photo" class="friend_photo">
                <div class="text">
                    <h6>Jackson</h6>
                </div>
            </div>
            <div class="friends_drawer">
                <img src="{% static "static/image/profile_photo_3.jpeg"%}" alt="Friend Photo" class="friend_photo">
                <div class="text">
                    <h6>Willam</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="chat_box">
        <div class="chat_box_topbar">
            <img src="{% static "static/image/profile_photo_1.jpeg"%}" alt="Friend Photo" class="friend_photo">
            <div class="chat_box_topbar_text">
                <h6>Cat</h6>
            </div>
        </div>
        <div class="chat_box_content">
            <div class="chat_box_bubble">
                <div class="chat_bubble_left">
                    How are you?
                </div>
            </div>
            <div class="chat_box_bubble">
                <div class="chat_bubble_right">
                    Good. How are you?
                </div>
            </div>
            <div class="chat_box_bubble">
                <div class="chat_bubble_left">
                    Good.
                </div>
            </div>
        </div>
        <div class="chat_box_message">
            <form class='chat_box_message_form' >
                <input class="chat_box_message_input" type="text" id="chat_box_message_input" placeholder="Let's chat.."/>
            </form>
        </div>
    </div>
{% endblock %}

{% block hidden %}
    <div id="modal" class="friends_topbar_add_new_friend_modal">
      <span onclick="document.getElementById('modal').style.display='none'" class="close" title="Close Modal">×</span>
      <form class="friends_topbar_add_new_friend_modal_content" action="">
        <div class="friends_topbar_add_new_friend_modal_container">
            <label for="username">Username:</label><br>
            <input class="friends_topbar_add_new_friend_modal_container_input" type="text" id="username" name="username"><br>
            <input class="friends_topbar_add_new_friend_modal_container_submit" type="submit" value="Submit">
        </div>
      </form>
    </div>
{% endblock %}