{% extends "base.html" %}
{% load static %}
{% block css %}
    <link href="{% static "static/css/chat.css"%}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="friends">
        <div class="friends_topbar">
            <h1 class="friends_topbar_chat">Chats</h1>
            <button onclick="document.getElementById('modal').style.display='block'" class="friends_topbar_add_new_friend">
                <span>+ Add New Friend</span>
            </button>
        </div>

        <div class="friends_information">
            {% for friend in friends %}
                <div class="friends_drawer">
                    <img src="{% static "static/image/chat_and_share.png"%}" alt="Friend Photo" class="friend_photo">
                    <div class="text">
                        <h6 class="friends_drawer_friend_name">{{ friend.friend_name }}</h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="chat_box">
        <div class="chat_box_topbar">
            <img src="" alt="" class="friend_photo">
            <div class="chat_box_topbar_text">
                <h6 class="chat_box_topbar_friend_name"></h6>
            </div>
        </div>
        <div class="chat_box_content" id="chat_box_content">
        </div>
        <div class="chat_box_message">
            <input class="chat_box_message_input" type="text" id="chat_box_message_input" placeholder="Let's chat.."/>
            <input class="chat_box_message_button" type="button" id="chat_box_message_button" value="send">
        </div>
    </div>

    <div id="modal" class="friends_topbar_add_new_friend_modal" style="display: none">
      <span onclick="document.getElementById('modal').style.display='none'" class="close" title="Close Modal">×</span>
      <form class="friends_topbar_add_new_friend_modal_content">
        {% csrf_token %}
        <div class="friends_topbar_add_new_friend_modal_container">
            <label for="username">Username:</label><br>
            <input class="friends_topbar_add_new_friend_modal_container_input" type="text" id="username" name="username"><br>
            <input class="friends_topbar_add_new_friend_modal_container_submit" type="button" value="Submit">
        </div>
        <h4 class="error" id="error"></h4>
      </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        const user_name = JSON.parse(document.getElementById("user_name").textContent);

        let chatSocket = {}
        let chat_content = $('#chat_box_content')[0];

        chatSocket.onclose = function(e) {
            console.error('Share socket closed unexpectedly');
        };

        $('.friends_topbar_add_new_friend_modal_container_submit').click(function (e) {
            $.ajax({
                type: "POST",
                url: '/' + user_name + '/friend',
                data: {'username': $('#username').val().toString()},
                success: function (response) {
                    const error = response['error'];
                    if (error){
                       $('#error').html(error);
                    } else {
                        const friend_name = response['friend_name'];
                        const new_friend = `
                        <div class="friends_drawer">
                            <img src="{% static "static/image/chat_and_share.png"%}" alt="Friend Photo" class="friend_photo">
                            <div class="text">
                                <h6 class="friends_drawer_friend_name">${friend_name}</h6>
                            </div>
                        </div>`
                        $('.friends_information').prepend(new_friend);
                        $('.friends_topbar_add_new_friend_modal_container_input').val("");
                        $('.friends_topbar_add_new_friend_modal').css("display", "none");
                    }
                }
            })
        })

        $('body')
            .delegate('.friends_drawer', 'click', function () {
                const friend_photo = $(this).find('.friend_photo')[0].src;
                const friend_name = $(this).find('.friends_drawer_friend_name')[0].innerText;
                $('.friend_photo').attr("src", friend_photo)
                $('.chat_box_topbar_friend_name').text(friend_name)
                $('.chat_box_content').empty()
                $('.chat_box_message_input').val("")

                $.ajax({
                    type: 'GET',
                    url: '/' + user_name + '/' + friend_name +'/messages',
                    success: function (response) {
                        const messages = response["messages"]
                        const room = response["room"]

                        let message = null
                        for(let i = 0; i < messages.length; i++){
                            if (messages[i]["sender_name"] === user_name){
                                message = `
                                    <div class="chat_box_bubble">
                                        <div class="chat_bubble_right">
                                            ${messages[i]["content"]}
                                        </div>
                                    </div>
                                `
                            }else {
                                message = `
                                    <div class="chat_box_bubble">
                                        <div class="chat_bubble_left">
                                            ${messages[i]["content"]}
                                        </div>
                                    </div>
                                `
                            }
                            $('.chat_box_content').append(message);
                        }

                        chat_content.scrollTop = chat_content.scrollHeight;

                        chatSocket = new WebSocket(
                            'ws://'
                            + window.location.host
                            + '/ws/chat/'
                            + room
                            + '/'
                        )
                    }
                })
            })
            .delegate('.chat_box_message_button', 'click', function () {
                const friend_name = $('.chat_box_topbar_friend_name')[0].innerText;
                const content = $('#chat_box_message_input').val()
                if (!friend_name){
                    const error = `
                                <div class="chat_box_bubble">
                                    <div class="chat_bubble_left">
                                        Please choose a friend first.
                                    </div>
                                </div>
                            `
                    $('.chat_box_content').append(error);
                    $('#chat_box_message_input').val("");
                }else if (content){
                    $.ajax({
                        type: 'POST',
                        url: '/' + user_name + '/' + friend_name +'/messages',
                        data: {'content': content},
                        success: function (response) {
                            console.log(response)
                            chatSocket.send(JSON.stringify({
                                'operation': 'chat',
                                'sender_name': response['sender_name'],
                                'receiver_name': response['receiver_name'],
                                'content': response['content'],
                            }))
                            $('#chat_box_message_input').val("");
                        }
                    })

                    chatSocket.onmessage = function(e) {
                        const data = JSON.parse(e.data);
                        if (data.operation === 'chat'){
                            let new_message = ''
                            if(data.sender_name === user_name){
                                new_message = `
                                    <div class="chat_box_bubble">
                                        <div class="chat_bubble_right">
                                            ${data.content}
                                        </div>
                                    </div>
                                `
                            }else{
                                new_message = `
                                    <div class="chat_box_bubble">
                                        <div class="chat_bubble_left">
                                            ${data.content}
                                        </div>
                                    </div>
                                `
                            }
                            $('.chat_box_content').append(new_message);
                            chat_content.scrollTop = chat_content.scrollHeight;
                        }
                    };
                }
            })
            .delegate('.chat_box_message_input', 'keypress', function (e) {
                var word = (e.keyCode ? e.keyCode : e.which);
                if(word == '13'){
                    $(this).siblings(".chat_box_message_button").click()
                }
            })
    </script>
{% endblock %}
