{% extends "base.html" %}
{% load static %}
{% block css %}
    <link href="{% static "static/css/profile.css"%}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="profile_container">
        <div class="card-container">
            <div class = "upper-container">
                <div class="image-container">
                    <img src="{{ user_photo }}" alt="Profile Photo" id="profile_photo">
                </div>
            </div>
            <div class="lower-container">
                <div class="user_name">
                    <h3>{{ user_name }}</h3>
                </div>

                <div class="user_photo">
                    <form id="update_form" enctype= multipart/form-data>
                        {% csrf_token %}
                        <input type="button" class="btn" value="Change profile">
                        <input type="file" id="photo" name="photo" accept="image/*" style="display:none">
                    </form>
                </div>

                <div class="lower-userinfo">
                    <ul class="data-user">
                        <li>
                            <a class="share_link" href="{% url "Share:<user_name>/share" user_name %}">
                                <strong>{{ posts }}</strong>
                                <span> Posts</span>
                            </a>
                        </li>
                        <li>
                            <a class="chat_link" href="{% url "Chat:<user_name>/chat" user_name %}">
                                <strong>{{ friends }}</strong>
                                <span> Friends</span>
                            </a>
                        </li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
    const user_name = JSON.parse(document.getElementById("user_name").textContent);

    $('.btn').click(function () {
        $('#photo').trigger('click');
    })

    $('#photo').on('change', function (e) {
        $.ajax({
            type: "POST",
            url: '/' + user_name  +'/profile',
            data: new FormData($('#update_form')[0]),
            cache: false,
            processData: false,
            contentType: false,
            success: function (response) {
                $('#profile_image').attr('src', response['photo'])
                $('#profile_photo').attr('src', response['photo'])
            }
        })
    })
    </script>
{% endblock %}