{% extends "base.html" %}
{% load static %}
{% block css %}
    <link href="{% static %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="profile_container">
        <div class="card-container">
            <div class = "upper-container">
                <div class="image-container">
                    <img src="{% static %}">
                </div>
            </div>
            <div class="lower-container">
                <div>
                    <h3> Chat and Share</h3>
                    <h4> project</h4>
                </div>
                <div>
                    <p>dfjijeofjwlkjdlkfjoidjfoijweof</p>
                </div>
                <div>
                    <a href="#" class="btn">Change profile</a>
                </div>
                <div class = "lower-userinfo">
                    <ul class="data-user">
                        <li><a><strong>3390</strong><span>Posts</span></a></li>
                        <li><a><strong>718</strong><span>Followers</span></a></li>
                        <li><a><strong>239</strong><span>Following</span></a></li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}